/***
* Filter Buttons Shared Styles
* Mobile Only
***/
@media only screen and (max-width: 640px)  {
	.refine-search-btn-container,
    .sort-container {
        position: fixed;
        bottom: 0;
        z-index: 998;
    }
}


/***
* Sort by filter Button
* Mobile Only
***/
@media only screen and (max-width: 640px)  {
    .sort-container {
        right: 0;
        width: 65%;
    }

    .sort-container .product-list-sort-by {
        margin: 0;
    }
}


/***
* Refine filter Button
* Mobile Only
***/
@media only screen and (max-width: 640px)  {
    .refine-search-btn-container {
        left: 0;
    }	
}

/***
* Filter Overlay 
* Mobile Only
***/
@media only screen and (max-width: 640px) {
    #Catfacets .product-list-left-filter-template {
        position: fixed;
        top: 36px;
        left: 0;
        padding: 0 15px;
        height: 100%;
        overflow: auto;
        z-index: 999;
        background-color:#f6f6f6;
    }

    #Catfacets .filter-options ul .facet-value {
        background-color: #fff;
        padding: 10px;
        margin-bottom: 5px;
    }

    #Catfacets .filters-nav .filter-options ul .plp-checkbox {
        border: 2px solid #f5a019;
        float: right;
    }

    #Catfacets .filters-nav .filter-title {
        background-color: #fff;
        padding: 10px;
    }

    #Catfacets .filters-nav .filter-title::after {
        color: #f5a019;
        top: 10px;
        right: 15px;   
    } 

    #Catfacets .filters-nav .filter-actions {
        background-color: #fff;
        text-align: center;
        padding: 10px;
    }

    #Catfacets .filters-nav .filter-options ul .facet-color {
        top: 10px;
        right: 50px;
    }

    #nav-dept .filter-title-main {
        display: block;
        z-index: 9999;
        color: black;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #f6f6f6;
        padding: 10px;
        text-align: center;
    }

    #nav-dept .filter-button-done,
    #nav-dept .filter-button-reset { 
        position: fixed;    
        bottom: 0;
        z-index: 9999;
        margin-bottom: 0;
        width: 40%;
        background-color: #000;
        border: 1px solid #000;
    }

    #nav-dept .filter-button-done {
        left: 15px;
    }

    #nav-dept .filter-button-reset {
        right: 30px;
    }

    .hide-filters {
        display: none;
    }

}

